# Find these here: https://api.slack.com/apps
SLACK_SIGNING_SECRET="your-slack-signing-secret"
SLACK_CLIENT_ID="your-slack-client-id"
SLACK_CLIENT_SECRET="your-slack-client-secret"
SLACK_STATE_SECRET="your-slack-state-secret"

# Find this here: https://neon.com/docs/guides/drizzle
DATABASE_URL=""

# Sign up for free account: https://dashboard.ngrok.com/signup
# Install your authtoken: https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTH_TOKEN="your-ngrok-auth-token"