# Dependencies
node_modules

# Build outputs
dist
.nitro
.output

# Cache
.cache
.turbo

# Environment
.env
.env.local

# Data
.data
drizzle

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*
.env.development
.env.production
