RESEND_API_KEY=
RESEND_AUDIENCE_ID=

DATABASE_URL=

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

BACKEND_API_URL=

NEXT_PUBLIC_APP_URL=

NODE_ENV=

BETTER_AUTH_SECRET=

INBOUND_API_KEY=

UPSTASH_REDIS_REST_URL=

UPSTASH_REDIS_REST_TOKEN=

PUBLIC_URL=